.app {
  text-align: center;
  font-family: "Comic Sans MS", cursive, sans-serif;
}

.start-screen {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-image: url("./images/background.jpg");
  background-size: cover;
  backdrop-filter: blur(10px);
  align-items: end;

}

.content {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  border-radius: 10px;
  margin-right: 10%
}


.start-button {
  padding: 10px 20px;
  font-size: 20px;
  background-color: #ff0d0d;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  animation: bounce 1s infinite;
}

@keyframes bounce {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-10px);
  }
}

.game-screen {
  background-color: #f5f5dc;
  background-image: url("./images/bg_toy1.jpg");
  background-size: cover;
  min-height: 100vh;

}

.score {
  color: white;
  font-size: 24px;
  margin-bottom: 20px;
}

.shapes {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  gap: 50px;
}

.shape {
  background-color: white;
  width: 100px;
  height: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  border: 2px dashed #000;
  cursor: grab;
  border-radius: 10px;
}

.targets {
  display: flex;
  justify-content: space-around;
  gap: 80px;
}

.target {
  background-color: white;
  width: 120px;
  height: 120px;
  border: 2px solid #000;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.restart-button {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ff4500;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;;
}


.circle {
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom right, red, yellow, green);
  border-radius: 50%;
}

 .square {
   width: 100px;
   height: 100px;
   background: linear-gradient(to bottom right, blue, cyan, purple);
 }

.triangle {
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid transparent;
  position: relative;
}

.triangle::after {
  content: '';
  position: absolute;
  top: 0;
  left: -50px;
  width: 0;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid;
  /* background: linear-gradient(to bottom right, red, yellow, green); */
 
}

.star {
  width: 100px;
  height: 100px;
  background: linear-gradient(to bottom right, orange, pink, purple);
  clip-path: polygon(
    50% 0%,
    61% 35%,
    98% 35%,
    68% 57%,
    79% 91%,
    50% 70%,
    21% 91%,
    32% 57%,
    2% 35%,
    39% 35%
  );
}

.empty-circle {
  width: 100px;
  height: 100px;
  border: 5px solid red;
  border-radius: 50%;
  background: transparent;
}

.empty-square {
  width: 100px;
  height: 100px;
  border: 5px solid;
  border-image: linear-gradient(45deg, blue, cyan, purple) 1;
  background: transparent;
}

.empty-triangle {
  --b: 10px;
  /* control the border thickness */

  width: 180px;
  aspect-ratio: 1/cos(30deg);
  clip-path: polygon(50% 0, 100% 100%, 0 100%, 50% 0, 50% var(--b), calc(var(--b)*cos(30deg)) calc(100% - var(--b)/2), calc(100% - var(--b)*cos(30deg)) calc(100% - var(--b)/2), 50% var(--b));
  background: linear-gradient(45deg, #FA6900, #C02942);
}

 .empty-star {
   width: 300px;
   aspect-ratio: 1;
   background: #F8CA00;
   clip-path: polygon(50% 0,
       calc(50%*(1 + sin(.4turn))) calc(50%*(1 - cos(.4turn))),
       calc(50%*(1 - sin(.2turn))) calc(50%*(1 - cos(.2turn))),
       calc(50%*(1 + sin(.2turn))) calc(50%*(1 - cos(.2turn))),
       calc(50%*(1 - sin(.4turn))) calc(50%*(1 - cos(.4turn))));
   /* or more simple
  clip-path: polygon(50% 0,79% 90%,2% 35%,98% 35%,21% 90%); 
   */
 }

 .popup {
  color: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
 }

 .win-text {
   font-size: 80px;
   margin-bottom: 20px;
 }

 .restart {
  font-size: 40px;
 }